.groupChild,
.groupItem {
  position: absolute;
  box-sizing: border-box;
}
.groupChild {
  top: 6.6px;
  left: 55.2px;
  border-right: 0.9px solid var(--color);
  width: 0.9px;
  height: 383.2px;
}
.groupItem {
  top: 46.4px;
  left: -0.4px;
  border-top: 0.9px solid var(--color);
  width: 641px;
  height: 0.9px;
}
.groupInner {
  position: absolute;
  top: 19.4px;
  left: 10.6px;
  width: 627.7px;
  height: 349.6px;
  object-fit: contain;
}
.rectangleDiv {
  top: 78.6px;
  left: 65.3px;
  border-radius: 3.53px;
  background-color: var(--color);
  border: 0.9px solid var(--foundation-primary-blue-b75);
  width: 516.5px;
  height: 251.6px;
}
.groupChild1,
.lineDiv,
.rectangleDiv {
  position: absolute;
  box-sizing: border-box;
}
.groupChild1 {
  top: 78.6px;
  left: 65.3px;
  border-radius: 3.53px 3.53px 0 0;
  background-color: var(--color);
  border: 0.9px solid var(--foundation-primary-blue-b75);
  width: 516.5px;
  height: 24.7px;
}
.lineDiv {
  top: 103.1px;
  left: 65.1px;
  border-top: 0.4px solid var(--foundation-primary-blue-b75);
  width: 516.9px;
  height: 0.4px;
}
.cpanelDashboard {
  position: absolute;
  top: 116.5px;
  left: 104.2px;
  font-size: var(--font-size-mini-1);
  font-weight: 600;
}
.groupChild2 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-8xs-5);
  background-color: var(--color);
  border: 1.1px solid var(--foundation-primary-blue-b50);
  box-sizing: border-box;
  width: 178.9px;
  height: 40.5px;
}
.sslCertificate {
  position: absolute;
  top: 12.3px;
  left: 12.4px;
  font-weight: 600;
}
.groupChild3 {
  position: absolute;
  top: 10.1px;
  left: 114.8px;
  border-radius: 2.25px;
  background-color: var(--color-mediumseagreen-100);
  width: 56.2px;
  height: 20.2px;
}
.active {
  position: absolute;
  top: 13.5px;
  left: 126px;
  font-size: var(--font-size-xs-2);
  color: var(--color);
}
.rectangleParent {
  position: absolute;
  top: 48.3px;
  left: 142.1px;
  width: 178.9px;
  height: 40.5px;
  font-size: var(--font-size-sm-5);
}
.groupChild4 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3.53px;
  background-color: var(--color);
  border: 0.9px solid var(--foundation-primary-blue-b75);
  box-sizing: border-box;
  width: 140.4px;
  height: 31.8px;
}
.fileManager {
  position: absolute;
  top: 10.6px;
  left: 37px;
  font-weight: 600;
}
.folder1Icon {
  position: absolute;
  top: 6.2px;
  left: 10.6px;
  width: 18.5px;
  height: 18.5px;
  overflow: hidden;
}
.groupChild5,
.rectangleGroup {
  position: absolute;
  top: 256px;
  left: 105.1px;
  width: 140.4px;
  height: 31.8px;
}
.groupChild5 {
  top: 143px;
  left: 104.2px;
  border-radius: 1.77px;
  background-color: var(--color);
  border: 0.9px solid var(--foundation-primary-blue-b75);
  box-sizing: border-box;
  width: 442.3px;
  height: 98px;
}
.databases {
  position: absolute;
  top: 11.5px;
  left: 32.6px;
  font-weight: 600;
}
.database21 {
  position: absolute;
  top: 8.9px;
  left: 9.7px;
  width: 15px;
  height: 15px;
  overflow: hidden;
}
.rectangleContainer {
  position: absolute;
  top: 256px;
  left: 254.3px;
  width: 140.4px;
  height: 31.8px;
}
.wordpressOverview {
  position: absolute;
  top: 10.6px;
  left: 29.1px;
  font-weight: 600;
}
.wordpress31 {
  position: absolute;
  top: 8px;
  left: 7.9px;
  width: 15px;
  height: 15px;
  overflow: hidden;
}
.groupDiv {
  position: absolute;
  top: 256px;
  left: 403.5px;
  width: 140.4px;
  height: 31.8px;
}
.business {
  position: absolute;
  top: 0;
  left: 18px;
  font-weight: 600;
  background: linear-gradient(213.6deg, #102880, #1469cd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.active1,
.seeDetails {
  position: absolute;
  top: 20.4px;
  left: 18px;
  font-size: var(--font-size-4xs-2);
}
.seeDetails {
  top: 36.8px;
  font-size: var(--font-size-3xs-8);
  font-weight: 600;
  background: linear-gradient(213.6deg, #102880, #1469cd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.fi2891526Icon {
  position: absolute;
  top: 0.8px;
  left: 0;
  width: 12.3px;
  height: 12.3px;
  overflow: hidden;
}
.businessEmailParent,
.businessParent,
.dailyBackupsParent,
.domainParent {
  position: absolute;
  top: 166.9px;
  left: 122.7px;
  width: 72px;
  height: 48.8px;
  font-size: var(--font-size-xs-5);
  color: var(--grey-2);
}
.businessEmailParent,
.dailyBackupsParent,
.domainParent {
  left: 218.4px;
  width: 61px;
}
.businessEmailParent,
.dailyBackupsParent {
  left: 302.6px;
  width: 101px;
}
.dailyBackupsParent {
  left: 427.5px;
  width: 96px;
}
.nepal1Icon {
  position: absolute;
  top: 46px;
  left: 366.4px;
  width: 155.6px;
  height: 48.4px;
  object-fit: cover;
}
.bigBrand1,
.performance1Icon {
  position: absolute;
  top: 113px;
  left: 39.7px;
  width: 39.7px;
  height: 128px;
  object-fit: contain;
}
.bigBrand1 {
  top: 0;
  left: 241.9px;
  width: 120.1px;
  height: 38.8px;
  object-fit: cover;
}
.groupChild8 {
  position: absolute;
  top: 132.9px;
  box-sizing: border-box;
}
.groupChild10,
.groupChild8,
.groupChild9 {
  left: -0.4px;
  border-top: 0.9px solid var(--color);
  width: 641px;
  height: 0.9px;
}
.groupChild9 {
  position: absolute;
  top: 215px;
  box-sizing: border-box;
}
.groupChild10 {
  top: 287.4px;
}
.groupChild10,
.groupChild11,
.groupChild12 {
  position: absolute;
  box-sizing: border-box;
}
.groupChild11 {
  top: 343px;
  left: -0.4px;
  border-top: 0.9px solid var(--color);
  width: 641px;
  height: 0.9px;
}
.groupChild12 {
  top: 6.6px;
  left: 592px;
  border-right: 0.9px solid var(--color);
  width: 0.9px;
  height: 383.2px;
}
.wepikExport20240401055453mwlIcon {
  position: absolute;
  top: 30px;
  left: 413.2px;
  width: 369.8px;
  height: 430px;
  object-fit: cover;
}
.groupChild13,
.safe {
  position: absolute;
  top: 0;
}
.groupChild13 {
  left: 0;
  border-radius: 3.53px;
  background-color: var(--color);
  border: 0.9px solid var(--foundation-primary-blue-b75);
  box-sizing: border-box;
  width: 143px;
  height: 67.1px;
}
.safe {
  left: 17.7px;
  font-size: var(--font-size-xs-5);
  font-weight: 600;
}
.noMalwareFound {
  position: absolute;
  top: 20.3px;
  left: 0;
  color: var(--grey-2);
}
.seeMalwareScanner {
  position: absolute;
  top: 35.3px;
  left: 0;
  font-weight: 600;
  background: linear-gradient(213.6deg, #102880, #1469cd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.groupIcon,
.safeParent {
  position: absolute;
  top: 0;
  left: 0;
  width: 92px;
  height: 46.3px;
}
.groupIcon {
  height: 20.52%;
  width: 13.15%;
  top: 3.89%;
  right: 85.76%;
  bottom: 75.59%;
  left: 1.09%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.groupParent {
  position: absolute;
  top: 8.8px;
  left: 25.6px;
  width: 92px;
  height: 46.3px;
}
.group210,
.rectangleParent1 {
  position: absolute;
  top: 311.7px;
  left: 44.1px;
  width: 143px;
  height: 67.1px;
}
.group210 {
  top: 316.1px;
  left: 261.3px;
  height: 45px;
  object-fit: cover;
}
.groupChild14 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3.99px;
  background-color: var(--color);
  border: 1px solid var(--foundation-primary-blue-b75);
  box-sizing: border-box;
  width: 266px;
  height: 88.7px;
}
.performanceScoreFor {
  margin: 0;
}
.div,
.performanceScoreForContainer {
  position: absolute;
  display: inline-block;
}
.performanceScoreForContainer {
  top: 2px;
  left: 0;
  font-size: var(--outfit-light-body-text-6-size);
  font-weight: 600;
  background: linear-gradient(213.6deg, #102880, #1469cd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 108.6px;
  height: 23.9px;
}
.div {
  top: 0;
  left: 10px;
  width: 14.9px;
  height: 7px;
}
.div1,
.ellipseDiv,
.parent {
  position: absolute;
  left: 0;
  height: 7px;
}
.ellipseDiv {
  top: 0;
  border-radius: 50%;
  background-color: var(--color-red);
  width: 7px;
}
.div1,
.parent {
  top: 41.8px;
  width: 24.9px;
}
.div1 {
  top: 0;
  left: 9.9px;
  display: inline-block;
  width: 17.9px;
}
.groupChild15 {
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-orange);
  width: 7px;
}
.div2,
.group,
.groupChild15,
.groupChild16 {
  position: absolute;
  height: 7px;
}
.group {
  top: 41.8px;
  left: 39.9px;
  width: 27.9px;
}
.div2,
.groupChild16 {
  top: 0;
}
.div2 {
  left: 10px;
  display: inline-block;
  width: 20.9px;
}
.groupChild16 {
  left: 0;
  border-radius: 50%;
  background-color: var(--color-mediumseagreen-100);
  width: 7px;
}
.container,
.groupChild17 {
  position: absolute;
  top: 41.8px;
  left: 79.7px;
  width: 30.9px;
  height: 7px;
}
.groupChild17 {
  top: 0;
  left: 156.4px;
  border-radius: 50%;
  background-color: var(--color-mediumseagreen-100);
  width: 58.8px;
  height: 58.8px;
}
.div3 {
  position: absolute;
  top: 19.9px;
  left: 175.4px;
  font-size: var(--font-size-base-9);
  font-weight: 600;
  color: var(--color-mediumseagreen-100);
  display: inline-block;
  width: 20.9px;
  height: 18.9px;
}
.performanceScoreForProtozoaParent {
  position: absolute;
  top: 15px;
  left: 25.9px;
  width: 215.2px;
  height: 58.8px;
}
.rectangleParent2 {
  position: absolute;
  top: 388.7px;
  left: 470px;
  width: 266px;
  height: 88.7px;
  font-size: var(--font-size-7xs);
}
.lineParent {
  width: 783px;
  position: relative;
  height: 477.4px;
  margin-left: -32px;
  text-align: left;
  font-size: var(--font-size-4xs-8);
  color: var(--black);
  font-family: var(--font-inter);
}
