.downIcon,
.thisIsA {
  position: relative;
}
.downIcon {
  width: 24px;
  height: 13.6px;
  object-fit: contain;
}
.faqAccordion,
.heading {
  display: flex;
  flex-direction: row;
}
.heading {
  align-self: stretch;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-11xl);
}
.faqAccordion {
  width: 1193px;
  border-radius: var(--br-5xs);
  background-color: var(--color);
  border: 1px solid var(--foundation-primary-blue-b50);
  box-sizing: border-box;
  height: 88px;
  overflow: hidden;
  flex-shrink: 0;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--outfit-med-body-text-2-size);
  color: var(--black);
  font-family: var(--outfit-semi-bold-h1);
}
