.b {
  position: relative;
}
.wrapper {
  width: 60px;
  border-radius: var(--br-84xl);
  background-color: var(--foundation-primary-blue-b50);
  height: 60px;
  flex-direction: row;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}
.signUpFor,
.signUpForProtozoaHostAndWrapper,
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.signUpFor {
  width: 239px;
  position: relative;
  font-weight: 600;
  flex-shrink: 0;
}
.signUpForProtozoaHostAndWrapper {
  flex-direction: row;
  padding: var(--padding-3xs);
  font-size: var(--outfit-med-body-text-2-size);
  color: var(--black);
}
.frameParent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  font-size: var(--outfit-semi-bold-h1-size);
  color: var(--primary);
  font-family: var(--outfit-semi-bold-h1);
}
