.chooseFromThe {
  margin: 0;
}
.domain {
  color: var(--primary);
}
.chooseFromTheContainer {
  position: relative;
}
.chooseFromTheMostPopularDWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
}
.frameWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.groupChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background: linear-gradient(89.24deg, #1354b5, #120086);
  width: 518px;
  height: 552px;
}
.domains,
.getStartedWith {
  position: relative;
  font-weight: 500;
}
.getStartedWith {
  width: 450px;
  font-weight: 300;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.getStartedWithThePerfectDWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  font-size: var(--outfit-med-body-text-2-size);
}
.frameContainer {
  width: 468px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.searchDomainsWrapper {
  border-radius: var(--br-5xs);
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-sm) var(--padding-18xl);
}
.frameDiv,
.frameGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameDiv {
  padding: var(--padding-3xs);
  font-size: var(--outfit-regular-body-text-4-size);
}
.frameGroup {
  position: absolute;
  top: 364px;
  left: 25px;
}
.rectangleParent {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: var(--shadow);
  width: 518px;
  height: 552px;
}
.layer11 {
  position: absolute;
  top: 39px;
  left: 35px;
  width: 455px;
  height: 298px;
  object-fit: cover;
}
.groupContainer {
  width: 518px;
  position: relative;
  height: 552px;
}
.groupItem {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background: linear-gradient(89.24deg, #1354b5, #120086);
  width: 702px;
  height: 258px;
}
.enhanceYourWebsites {
  width: 307px;
  position: relative;
  font-weight: 300;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.frameParent1 {
  position: absolute;
  top: 45px;
  left: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangleGroup {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: var(--shadow);
  width: 702px;
  height: 258px;
}
.image120Icon {
  position: absolute;
  top: 18px;
  left: 334px;
  width: 325px;
  height: 217px;
  object-fit: cover;
}
.groupDiv {
  width: 702px;
  position: relative;
  height: 258px;
}
.frameParent3 {
  position: absolute;
  top: 52px;
  left: 32px;
  width: 302px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.image121Icon {
  position: absolute;
  top: 14px;
  left: 346px;
  width: 312px;
  height: 237px;
  object-fit: cover;
}
.frameParent,
.groupParent,
.groupParent1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-17xl);
}
.frameParent,
.groupParent {
  flex-direction: row;
  text-align: left;
  font-size: var(--outfit-light-body-text-1-size);
  color: var(--color);
}
.frameParent {
  position: absolute;
  top: 13212.4px;
  left: 92px;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-31xl);
  text-align: center;
  font-size: var(--outfit-semi-bold-h1-size);
  color: var(--black);
  font-family: var(--outfit-semi-bold-h1);
}
