.asset0571Icon {
  width: 87px;
  position: relative;
  height: 87px;
  object-fit: cover;
}
.freeMigration {
  position: relative;
  font-weight: 600;
}
.freeMigrationWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
}
.fastSecureAnd {
  margin: 0;
}
.fastSecureAndContainer {
  width: 362px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
}
.fastSecureAndScalableHosWrapper {
  width: 361px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-3xs) var(--padding-3xs);
  box-sizing: border-box;
  font-size: var(--outfit-regular-body-text-4-size);
  color: var(--grey-2);
}
.frameParent {
  height: 85px;
}
.asset0571Parent,
.frameParent,
.frameWrapper {
  width: 362px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.frameWrapper {
  box-shadow: var(--shadow);
  border-radius: var(--br-5xs);
  border: 1px solid var(--foundation-primary-blue-b50);
  box-sizing: border-box;
  height: 290px;
  overflow: hidden;
  flex-shrink: 0;
  align-items: flex-start;
  padding: var(--padding-49xl) 0;
  text-align: center;
  font-size: var(--outfit-light-body-text-1-size);
  color: var(--primary);
  font-family: var(--outfit-semi-bold-h1);
}
