.cpanel {
  position: relative;
}
.cpanelWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
}
.easyToUseControlPanel {
  width: 358px;
  position: relative;
  font-weight: 300;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.easyToUseControlPanelForWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  font-size: var(--outfit-light-body-text-3-size);
}
.frameParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--outfit-light-body-text-1-size);
  color: var(--color);
  font-family: var(--outfit-semi-bold-h1);
}
