.nonStopSupport {
  margin: 0;
}
.nonStopSupportContainer {
  position: relative;
}
.nonStopSupportAssistanceWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
}
.atProtozoahostWe {
  width: 482px;
  position: relative;
  font-weight: 300;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.atProtozoahostWeUnderstandWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  font-size: var(--outfit-light-body-text-3-size);
  color: var(--grey-2);
}
.frameDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.youCanReach {
  position: relative;
  font-weight: 500;
}
.youCanReachUs247ForHelpWrapper {
  width: 375px;
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-sm) var(--padding-18xl);
  box-sizing: border-box;
}
.frameWrapper,
.frameWrapper1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameWrapper1 {
  width: 375px;
  border-radius: var(--br-5xs);
  background-color: var(--foundation-primary-blue-b50);
  flex-direction: row;
}
.frameWrapper {
  flex-direction: column;
  padding: var(--padding-3xs);
  font-size: var(--outfit-regular-body-text-4-size);
}
.mditickCircleOutlineIcon {
  width: 16px;
  position: relative;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.availableResellerHostingSupWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  margin-left: -2px;
}
.mditickCircleOutlineGroup,
.mditickCircleOutlineParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.mditickCircleOutlineGroup {
  margin-top: -2px;
}
.frameContainer,
.frameParent1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent1 {
  padding: 0 var(--padding-3xs);
  font-size: var(--outfit-light-body-text-3-size);
}
.frameContainer {
  gap: var(--gap-xl);
}
.liveChat1Icon {
  width: 18px;
  position: relative;
  height: 18px;
  overflow: hidden;
  flex-shrink: 0;
}
.emailUsWrapper,
.liveChat1Parent {
  width: 174px;
  border-radius: var(--br-5xs);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-sm) var(--padding-18xl);
}
.liveChat1Parent {
  background-color: var(--primary);
  gap: var(--gap-3xs);
}
.emailUsWrapper {
  border: 1px solid var(--primary);
  color: var(--primary);
}
.frameGroup,
.frameParent2,
.frameWrapper2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent2 {
  flex-direction: row;
  gap: var(--gap-3xs);
}
.frameGroup,
.frameWrapper2 {
  flex-direction: column;
}
.frameWrapper2 {
  padding: var(--padding-3xs);
  font-size: var(--outfit-regular-body-text-4-size);
  color: var(--color);
}
.frameGroup {
  width: 547px;
  gap: var(--gap-4xs);
}
.image119Icon {
  width: 667px;
  position: relative;
  height: 487px;
  object-fit: cover;
}
.frameParent {
  position: absolute;
  top: 6473.4px;
  left: calc(50% - 607px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--outfit-semi-bold-h1-size);
  color: var(--primary);
  font-family: var(--outfit-semi-bold-h1);
}
