.ourHostingSolutions {
  position: relative;
  font-weight: 500;
}
.ourHostingSolutionsWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
}
.frameContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-46xl);
}
.vps {
  position: relative;
}
.virtualPrivateServer {
  margin: 0;
}
.virtualPrivateServerContainer1 {
  width: 100%;
}
.virtualPrivateServerContainer {
  width: 358px;
  position: relative;
  font-weight: 300;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.virtualPrivateServerHostingWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  font-size: var(--outfit-light-body-text-3-size);
}
.frameGroup,
.frameParent,
.frameParent1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameGroup,
.frameParent {
  align-items: center;
  gap: var(--gap-11xl);
  font-size: var(--outfit-light-body-text-1-size);
}
.frameParent {
  align-items: flex-start;
  gap: var(--gap-4xs);
  text-align: left;
  font-size: var(--outfit-medium-h3-size);
  color: var(--color);
  font-family: var(--outfit-semi-bold-h1);
}
