.groupChild {
  position: absolute;
  top: 0;
  left: 81.8px;
  border-radius: var(--br-5xs);
  border: 1px solid var(--foundation-primary-blue-b50);
  box-sizing: border-box;
  width: 422.1px;
  height: 310.1px;
}
.ellipseDiv,
.groupInner,
.groupItem {
  position: absolute;
  top: 12.2px;
  left: 96.1px;
  border-radius: 50%;
  border: 0.5px solid var(--foundation-primary-blue-b50);
  box-sizing: border-box;
  width: 7.6px;
  height: 7.8px;
}
.ellipseDiv,
.groupInner {
  left: 107.9px;
}
.ellipseDiv {
  left: 119.7px;
}
.vectorIcon {
  position: absolute;
  height: 2.21%;
  width: 1.55%;
  top: 2.88%;
  right: 9.37%;
  bottom: 94.91%;
  left: 89.08%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangleDiv {
  position: absolute;
  top: 37.9px;
  left: 178.3px;
  border-radius: var(--br-5xs);
  background-color: var(--foundation-primary-blue-b50);
  width: 348.1px;
  height: 49.7px;
}
.com,
.groupChild1,
.https {
  position: absolute;
  top: 56.8px;
  left: 195.1px;
}
.com,
.groupChild1 {
  left: 474.1px;
}
.groupChild1 {
  top: 53.7px;
  left: 243px;
  border-radius: var(--br-xl);
  background-color: var(--color);
  width: 225.1px;
  height: 18.2px;
}
.freepikExport20240606161727sIcon {
  position: absolute;
  top: 19.7px;
  left: 0;
  width: 320.1px;
  height: 373.3px;
  object-fit: cover;
}
.groupChild2,
.vectorIcon1 {
  position: absolute;
  top: 139.7px;
  left: 233.6px;
  width: 290.1px;
  height: 179.9px;
}
.vectorIcon1 {
  height: 18.07%;
  width: 18.78%;
  top: 29.11%;
  right: 34.37%;
  bottom: 52.82%;
  left: 46.85%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.groupChild3 {
  position: absolute;
  top: 301.5px;
  left: 364.4px;
  border-radius: 50%;
  background: linear-gradient(89.24deg, #1354b5, #120086);
  width: 14px;
  height: 14.2px;
}
.security1Icon {
  position: absolute;
  top: 163.4px;
  left: 464.9px;
  border-radius: var(--br-9xs);
  width: 77.1px;
  height: 78.1px;
  overflow: hidden;
}
.rectangleParent {
  width: 542px;
  position: relative;
  height: 393px;
}
.unlimitedFreeMigrations {
  width: 560px;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.unlimitedFreeMigrationsFrWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
}
.transitioningToProtozoahost {
  margin: 0;
}
.transitioningToProtozoahostContainer1 {
  width: 100%;
}
.transitioningToProtozoahostContainer {
  width: 482px;
  position: relative;
  font-weight: 300;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.transitioningToProtozoahostWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  font-size: var(--outfit-light-body-text-3-size);
  color: var(--grey-2);
}
.frameParent {
  gap: var(--gap-5xl);
}
.frameContainer,
.frameParent,
.frameWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameWrapper {
  text-align: left;
  font-size: var(--outfit-semi-bold-h1-size);
  color: var(--primary);
  font-family: var(--outfit-semi-bold-h1);
}
.groupParent {
  position: absolute;
  top: 7655.4px;
  left: calc(50% - 623px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-105xl);
  text-align: center;
  font-size: var(--outfit-light-body-text-5-size);
  color: var(--grey-2);
  font-family: var(--font-inter);
}
