.protozoahostlogo11E169560957Icon {
  width: 84.4px;
  position: relative;
  height: 53px;
  object-fit: cover;
}
.logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs-3);
}
.domains {
  position: relative;
  font-weight: 500;
}
.vectorIcon {
  width: 9px;
  position: relative;
  height: 5px;
}
.iconArrowDown,
.iconArrowDownWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.iconArrowDownWrapper {
  padding: var(--padding-6xs) 0 var(--padding-10xs);
}
.domainsParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  gap: var(--gap-3xs);
  cursor: pointer;
}
.frameParent,
.logoParent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.frameParent {
  align-items: flex-start;
  padding: var(--padding-3xs);
  gap: var(--gap-3xs);
}
.logoParent {
  width: 1240px;
  align-items: center;
  gap: var(--gap-253xl);
  text-align: left;
  font-size: var(--outfit-light-body-text-3-size);
  color: var(--primary);
  font-family: var(--outfit-semi-bold-h1);
}
