.firstName {
  position: relative;
}
.enterYourPhoneNumberWrapper,
.firstNameWrapper {
  width: 181px;
  border-radius: var(--br-9xs);
  border: 0.5px solid var(--foundation-primary-blue-b50);
  box-sizing: border-box;
  height: 38px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-89xl) var(--padding-3xs)
    var(--padding-3xs);
}
.enterYourPhoneNumberWrapper {
  width: 386px;
}
.frameChild {
  width: 10px;
  position: relative;
  border-radius: var(--br-12xs-5);
  height: 8px;
  object-fit: contain;
}
.serviceTypeParent {
  border-radius: var(--br-9xs);
  border: 0.5px solid var(--foundation-primary-blue-b50);
  box-sizing: border-box;
  height: 38px;
  align-items: center;
  padding: var(--padding-3xs) var(--padding-89xl) var(--padding-3xs)
    var(--padding-3xs);
  gap: var(--gap-256xl);
}
.enterYourRequirementsWrapper,
.frameParent,
.serviceTypeParent {
  width: 386px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.enterYourRequirementsWrapper {
  border-radius: var(--br-9xs);
  border: 0.5px solid var(--foundation-primary-blue-b50);
  box-sizing: border-box;
  align-items: center;
  padding: var(--padding-3xs) var(--padding-89xl) var(--padding-98xl)
    var(--padding-3xs);
}
.frameParent {
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 17px 24px;
  text-align: left;
  font-size: var(--outfit-light-body-text-5-size);
  color: var(--grey-3);
  font-family: var(--outfit-semi-bold-h1);
}
