.freeMigrationsAre {
  width: 252px;
  position: relative;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.freeMigrationsAreAvailableWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  font-size: var(--outfit-light-body-text-3-size);
  color: var(--grey-2);
}
.frameParent1 {
  border-radius: var(--br-9xs);
  padding: var(--padding-13xl) var(--padding-6xl);
}
.frameParent1,
.frameWrapper1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.b {
  position: relative;
}
.wrapper {
  border-radius: var(--br-84xl);
  background-color: var(--foundation-primary-blue-b50);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
}
.chooseHostingPlan {
  margin: 0;
}
.chooseHostingPlanContainer1 {
  width: 100%;
}
.chooseHostingPlanContainer {
  width: 239px;
  position: relative;
  font-weight: 600;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.chooseHostingPlanWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  font-size: var(--outfit-med-body-text-2-size);
  color: var(--black);
}
.sitBackAndContainer {
  width: 252px;
  position: relative;
  font-weight: 300;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.sitBackAndRelaxWhileOurEWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
}
.frameDiv,
.frameWrapper3 {
  display: flex;
  align-items: center;
}
.frameWrapper3 {
  flex-direction: column;
  justify-content: flex-start;
  font-size: var(--outfit-light-body-text-3-size);
  color: var(--grey-2);
}
.frameDiv {
  flex-direction: row;
  justify-content: center;
  gap: var(--gap-81xl);
}
.frameContainer,
.frameWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.frameWrapper {
  text-align: center;
}
.frameContainer {
  gap: var(--gap-31xl);
}
.startMigration {
  position: relative;
  font-weight: 500;
  white-space: pre-wrap;
}
.startMigrationWrapper {
  border-radius: var(--br-5xs);
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-sm) var(--padding-18xl);
}
.contactSales {
  position: relative;
  font-weight: 500;
}
.contactSalesWrapper {
  border-radius: var(--br-5xs);
  border: 1px solid var(--primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-sm) var(--padding-18xl);
  color: var(--primary);
}
.frameGroup,
.frameParent5 {
  display: flex;
  justify-content: flex-start;
}
.frameParent5 {
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-3xs);
  gap: var(--gap-10xl);
  font-size: var(--outfit-regular-body-text-4-size);
  color: var(--color);
}
.frameGroup {
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-31xl);
}
.groupChild,
.groupItem {
  position: absolute;
  top: 261px;
  left: 191px;
  max-height: 100%;
  width: 362px;
}
.groupItem {
  left: 613px;
}
.frameParent {
  position: absolute;
  top: 10919.4px;
  left: 137px;
  width: 1166px;
  height: 585px;
  text-align: left;
  font-size: var(--outfit-semi-bold-h1-size);
  color: var(--primary);
  font-family: var(--outfit-semi-bold-h1);
}
