.groupChild {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(213.6deg, #102880, #1469cd);
  width: 1440px;
  height: 124px;
}
.m {
  position: relative;
}
.mWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
}
.requestPer {
  margin: 0;
}
.requestPerSecondContainer {
  position: relative;
  font-weight: 300;
}
.requestPerSecondWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  font-size: var(--outfit-light-body-text-3-size);
}
.frameGroup,
.frameParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.frameParent {
  position: absolute;
  top: 29px;
  left: calc(50% - 378px);
  align-items: flex-start;
  gap: var(--gap-73xl);
}
.rectangleParent {
  position: absolute;
  top: 10239.4px;
  left: 0;
  width: 1440px;
  height: 124px;
  text-align: left;
  font-size: var(--outfit-semi-bold-h1-size);
  color: var(--color);
  font-family: var(--outfit-semi-bold-h1);
}
