.leadingBrands {
  color: var(--black);
}
.subtitle,
.title {
  position: relative;
}
.subtitle {
  font-size: var(--outfit-med-body-text-2-size);
  font-weight: 300;
  color: var(--grey-2);
}
.head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.logoIcon {
  width: 120px;
  position: relative;
  height: 39.7px;
  overflow: hidden;
  flex-shrink: 0;
}
.logoIcon1,
.logoIcon2,
.logoIcon3,
.logoIcon4,
.logoIcon5 {
  width: 180px;
  position: relative;
  height: 38.6px;
  overflow: hidden;
  flex-shrink: 0;
}
.logoIcon2,
.logoIcon3,
.logoIcon4,
.logoIcon5 {
  width: 120px;
  height: 35px;
}
.logoIcon3,
.logoIcon4,
.logoIcon5 {
  width: 170px;
  height: 36.3px;
}
.logoIcon4,
.logoIcon5 {
  width: 145.7px;
  height: 45.7px;
}
.logoIcon5 {
  width: 139.8px;
  height: 66.6px;
}
.logoParent,
.useFrispes {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-41xl);
}
.useFrispes {
  position: absolute;
  top: 975px;
  left: calc(50% - 588px);
  flex-direction: column;
  gap: var(--gap-mini);
  text-align: center;
  font-size: var(--outfit-semi-bold-h1-size);
  color: var(--primary);
  font-family: var(--outfit-semi-bold-h1);
}
