.image102Icon {
  width: 60px;
  position: relative;
  height: 60px;
  object-fit: cover;
}
.webHosting {
  position: relative;
  font-weight: 600;
}
.webHostingWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
}
.startingFromOnly {
  position: relative;
  font-size: var(--outfit-regular-body-text-4-size);
  text-align: left;
}
.rs119900year {
  position: relative;
  font-weight: 600;
  background: linear-gradient(213.6deg, #102880, #1469cd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.rs119900yearWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  text-align: left;
  font-size: var(--outfit-semi-bold-h5-size);
}
.frameParent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.save30Extra {
  position: relative;
  font-weight: 500;
}
.save30ExtraUsingPromoPrWrapper {
  flex-direction: row;
  padding: var(--padding-3xs);
  text-align: left;
  font-size: var(--outfit-light-body-text-6-size);
}
.findYourIdeal,
.findYourIdealSharedHostingWrapper,
.save30ExtraUsingPromoPrWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.findYourIdeal {
  width: 291px;
  position: relative;
  font-weight: 300;
  flex-shrink: 0;
}
.findYourIdealSharedHostingWrapper {
  flex-direction: row;
  padding: var(--padding-3xs);
  font-size: var(--outfit-regular-body-text-4-size);
}
.image102Parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-4xl);
}
.iconDiagonalArrowRightUp {
  width: 16px;
  position: relative;
  height: 16px;
}
.getWebHostingParent,
.web,
.webInner {
  border-radius: var(--br-5xs);
  display: flex;
  align-items: center;
}
.getWebHostingParent {
  background-color: var(--primary);
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-sm) var(--padding-18xl);
  gap: var(--gap-3xs);
}
.web,
.webInner {
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--outfit-regular-body-text-4-size);
  color: var(--color);
}
.web {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color);
  border: 1px solid var(--foundation-primary-blue-b50);
  padding: var(--padding-11xl) var(--padding-xl);
  gap: var(--gap-3xs);
  text-align: center;
  font-size: var(--outfit-light-body-text-1-size);
  color: var(--black);
  font-family: var(--outfit-semi-bold-h1);
}
